<p class="text-center">
  Photo by <a href="https://www.pexels.com/photo/five-bulb-lights-1036936/">Rodolfo Clix from Pexels</a> 
  - Site content © Copyright 2020 Jon Deavers - Code base <a href="https://github.com/lucsedirae/lucsedirae.github.io">published openly on GitHub</a> under the MIT license
</p>