<!--* Header div containing site navbar-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navbar">
    <a class="navbar-brand" id="navbar-brand" href="/"><span class="text-highlight">Jon Deavers</span> - Full Stack Web Developer</a>
  </nav>