<div class="h-100 col-3 col-md-2 d-none d-sm-block sidebar">
  <h1 class="text-highlight text-wrap">Jon Deavers</h1>
  <div class="col-sm-12 image-wrapper">
    <img src="/img/jon.jpg" class="img-thumbnail" alt="Headshot of Jon Deavers">
  </div>
  <ul id="nav-menu">
    <li class="home-btn text-wrap">Home</li>
    <li class="portfolio-btn text-wrap">Portfolio</li>
    <li class="words-btn text-wrap">Words</li>
    <li class="about-btn text-wrap">About</li>
    <li class="contact-btn text-wrap">Contact</li>
  </ul>

  <footer class="justify-content-center col-12 d-none d-sm-block sidefoot">
    <p class="text-center">
        Photo by <a href="https://www.pexels.com/photo/five-bulb-lights-1036936/">Rodolfo Clix from Pexels</a> - Site content © Copyright 2020 Jon Deavers - Code base <a href="https://github.com/lucsedirae/lucsedirae.github.io">published openly on GitHub</a> under the MIT license
    </p>
</footer>
