body {
    background: url("assets/images/blurcircles.png");
    background-size: cover;
}

nav {
    background-color: whitesmoke;
}

main {
    margin-top: 100px;
    background-color: whitesmoke;
}

footer {
    background: whitesmoke;
}

@media (min-width: 768px) {
    main {
        float: left;
    }
   }