body {
    background: url("assets/images/blurcircles.png");
}

nav {
    background-color: grey;
}

footer {
    background: grey;
}

@media (max-width: 768px) {

   }

@media (min-width: 769px) {

}