body {
    background: url("assets/images/blurcircles.png");
}

nav {
    background-color: grey;
}

main {
    margin-top: 80px;
    background-color: whitesmoke;
}

footer {
    background: grey;
}

@media (max-width: 768px) {

   }

@media (min-width: 769px), (max-width: 1880px)
 
}