body {
    font-family: "Red Rose", cursive;
    background-image: url("../img/pexels-burak-k-1252814.jpg");
    background-color: cornflowerblue;
    background-size: cover;
    overflow: hidden;
  }
  
  .about-header {
      text-shadow: 0.45rem 0.45rem 2.5rem #000000;
      cursor: default;
  }
  
  .dropdown-item {
    cursor: pointer;
    text-shadow: 0.15rem 0.15rem 0.5rem black;
  }
  
  .dropdown-menu {
    box-shadow: 0.3rem 0.3rem 1rem black;
  }
  
  .fa-caret-square-down {
    text-shadow: 0.3rem 0.3rem 0.5rem black;
  }
  
  .main-hero {
      background-color: #cccccc;
      border-radius: .1rem;
      box-shadow: .25rem .25rem .25rem #594438;
      padding: 2rem;
  }
  
  .menu-item {
    margin: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
  }
  
  .menu-item:hover {
    color: #ffffff;
    text-shadow: 0.3rem 0.3rem 0.25rem #d97b59;
    text-shadow: 0.5rem 0.5rem 1rem #000000;
  }
  
  #credit {
    cursor: default;
    text-align: center;
    font-size: 0.7rem;
    color: #cccccc;
    text-shadow: 0.3rem 0.3rem 0.25rem #d97b59;
    text-shadow: 0.5rem 0.5rem 1rem #000000;
  }
  
  #dropdownMenuButton {
    background-color: transparent;
    border: none;
  }
  
  #footer {
    position: absolute;
    bottom: 1rem;
    padding-left: 1rem;
  }
  
  #main-content {
      padding-left: 6rem;
      padding-right: 6rem;
  }
  
  #name-header {
    cursor: pointer;
    color: #cccccc;
    font-size: 2rem;
    /* text-shadow: 0.3rem 0.3rem 0.25rem #d97b59; */
    text-shadow: 0.5rem 0.5rem 1rem #000000;
  }
  
  #name-header:hover {
    color: #ffffff;
    text-shadow: 0.3rem 0.3rem 0.25rem #d97b59;
    text-shadow: 0.5rem 0.5rem 1rem black;
  }
  
  #nav-menu {
    text-align: center;
    color: whitesmoke;
    text-shadow: 0.3rem 0.3rem 0.5rem black;
    font-size: 2rem;
  }