a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: "Anton", sans-serif;
  font-weight: 400;
}

header h1 {
  margin-top: 10%;
  cursor: pointer;
}

header h1:hover {
  color: rgb(172, 143, 250);
}

h4 {
  color: black;
  text-align: center;
  margin-top: 1rem;
}

img {
  border-radius: 2rem;
}

.backboard {
  background-color: whitesmoke;
  border-radius: 4rem;
  box-shadow: 3px 3px 3px 3px rgb(46, 45, 45);
  padding: 1rem;
}

.portfolio-box {
  background-color: white;
  border-radius: 2rem;
  opacity: 70%;
  text-decoration: none;
}

.portfolio-item {
  margin: 1rem;
  height: 10%;
  border-radius: 2rem;
  box-shadow: 1px 1px 1px 1px rgb(46, 45, 45);
  transition: box-shadow 350ms ease-in-out;
  text-decoration: none;
  color: black;
}

.portfolio-item:hover {
  box-shadow: 0 5px 15px palevioletred, 0 6px 18px grey;
  cursor: pointer;
  text-decoration: none;
}

.carousel-inner {
  padding: 2rem;
}

.left-arrow {
  color: black;
}

.right-arrow {
  color: black;
}

.fab {
  margin-left: 2rem;
}

.jumbotron {
  position: absolute;
  width: 80%;
  margin-top: 15%;
}

.menu-item {
  list-style-type: none;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.portfolio-row {
  margin-top: 1rem;
}

.words-description {
  margin-top: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.words-icon {
  color: black;
}

.words-icon:hover {
  color: skyblue;
}

#about-jumbo {
  background-color: khaki;
  color: black;
  border-radius: 4rem;
  visibility: hidden;
  padding: 2rem;
  box-shadow: 3px 3px 3px 3px rgb(46, 45, 45);
}

#contact-jumbo {
  position: relative;
  background-color: palegreen;
  color: black;
  border-radius: 4rem;
  visibility: hidden;
  box-shadow: 3px 3px 3px 3px rgb(46, 45, 45);
}

#contact-backboard {
  padding: 3rem;
}

#contact-me {
  font-size: 2rem;
  margin-left: 1rem;
}

#headshot {
  border-radius: 10rem;
  margin-top: 20%;
  height: 12rem;
  width: 12rem;
  box-shadow: 3px 3px 3px 3px rgb(46, 45, 45);
}

#portfolio-img {
  width: 10rem;
}

#portfolio-jumbo {
  background-color: palevioletred;
  color: black;
  border-radius: 4rem;
  visibility: hidden;
  box-shadow: 3px 3px 3px 3px rgb(46, 45, 45);
}

#social-array {
  margin-top: 2rem;
  margin-left: 4rem;
}

#text-column {
  margin: 1rem;
}

#tool-box-list {
  text-align: center;
}

#words-jumbo {
  background-color: skyblue;
  color: black;
  border-radius: 4rem;
  visibility: hidden;
  box-shadow: 3px 3px 3px 3px rgb(46, 45, 45);
}

@media only screen and (max-width: 768px) {
  header h1 {
    margin-top: 2rem;
  }

  .jumbotron {
    width: 90%;
  }

  #about-jumbo {
    position: relative;
    top: -20rem;
    margin: 20rem;
  }

  #contact-jumbo {
    width: 28rem;
    text-align: center;
  }

  #portfolio-jumbo {
    margin-top: 7rem;
  }

  #words-jumbo {
    position: relative;
    top: -20rem;
    margin: 20rem;
    text-align: center;
  }

  #contact-backboard {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  #contact-me {
    text-align: center;
  }

  #social-array {
    margin-left: 0;
  }

  #text-column {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
  header h1 {
    margin-top: 6rem;
  }

  .backboard {
    padding: 1rem;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1490px) {
  header h1 {
    margin-top: 6rem;
  }

  .backboard {
    padding: 1rem;
  }
}


@media only screen and (min-width: 1490px) and (max-width: 1880px) {
  header h1 {
    margin-top: 6rem;
  }

  .backboard {
    padding: 1rem;
  }
}

