<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head"); %>
  </head>

  <body class="container-fluid">
    <header>
      <!--! Removed header ejs insert to test sidebar.ejs as an alternative nav layout -->
    </header>

    <main>
      <!-- * Wrapper row -->
      <div class="row">
        <!--* Sidebar column -->
          <%- include('../partials/sidebar.ejs'); %>
        </div>

        <!-- * Main wrapper col -->
        <div class="col-9 offset-3 two">

          <!-- * Info-panel row and col -->
          <div class="row">
            <div class="col info-panel-large">

              <!-- * Row 1 -->
              <div class="row">
                <div class="col">
                  <h2>About me</h2>
                  <hr />
                  <h5>Professional profile</h5>
                  <p>
                    Jon is currently studying in the Trilogy full-stack web
                    development boot camp at the University of Richmond. He lives
                    in Richmond and currently helps people buy and sell homes.
                    With 19 years of sales experience, Jon intends to bring his
                    customer-service focused mindset to the world of web
                    development. Jon's biggest professional goal is to leverage
                    his experience as a Realtor and develop web based software
                    solutions for businesses and consumers in the real estate
                    industry.
                  </p>
                  </div>
                </div>

                <!-- * Row 2 -->
                <div class="row">
                  <div class="col">
                    <hr />
                    <h5>Personal profile</h5>
                    <p>
                      Jon grew up in the rural Piedmont region of Virginia in the
                      foothills of the Blue Ridge Mountains. He and his wife of 10
                      years now live in Richmond and have fallen in love with the
                      community. When Jon's not coding he's either making music or
                      listening to it.
                      <img src="img/stealie.png" alt="steal your face" id="stealie"/>
                    </p>
                  </div>
                </div>

                <!-- * Row 3 -->
                <div class="row">
                  <div class="col">
                    <hr />
                    <h5>My stack</h5>
                    <p>Jon builds web applications using the MERN stack</p>
                  </div>
                </div>

                <!-- * Row 4 -->
                <div class="row" id="stack-row">

                  <div class="col-6">
                    <img src="/img/mongodb-icon.svg" alt="MongoDB logo" class="about-image">
                    <br />
                    <span>MongoDB database</span>
                  </div>

                  <div class="col-6">
                    <img src="/img/expressjs-icon.svg" alt="Express JS logo" class="about-image">
                    <br />
                    <span>Express back-end framework</span> 
                  </div>
                </div>

                <div class="row">
                  <div class="col-6 about-item">
                    <img src="/img/reactjs-icon.svg" alt="React logo" class="about-image">
                    <br />
                    <span>React front-end framework</span>
                  </div>

                  <div class="col-6 about-item">
                    <img src="/img/nodejs-icon.svg" alt="Node logo" class="about-image">
                    <br />
                    <span>Node.js web server</span> 
                  </div>
                </div>

                </div>

              </div>
            </div>
          </div>

          <!-- * Close wrapper col -->
        </div>
      <!-- * Close wrapper row -->
      </div>
    </main>

    <%- include("../partials/index-body-cdn.ejs"); %>
  </body>
</html>
