<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head"); %>
  </head>

  <body class="container-fluid">
    <header>
      <!--! Removed header ejs insert to test sidebar.ejs as an alternative nav layout -->
    </header>

    <main>
      <!-- * Wrapper row -->
      <div class="row">
        <!--* Sidebar column -->
        <div class="col-2 col-1 fixed-top one" id="sidebar">
          <%- include('../partials/sidebar.ejs'); %>
        </div>

        <!-- * Main wrapper col -->
        <div class="col-9 offset-3 two">
          <!-- * Info panel row and col -->
          <div class="row">
            <div class="col info-panel-large">
              <!-- * Row 1 -->
              <div class="row">
                <div class="col">
                  <h2>Contact me</h2>
                  <hr />
                </div>
              </div>
              <!-- * Row 2 -->
              <div class="row">
                <div class="col-3 about-item">
                  <a href="https://github.com/lucsedirae">
                    <img
                      src="/img/github-tile.svg"
                      alt="GitHub logo"
                      class="about-image"
                      id="github-icon"
                  /></a>
                  <br />
                  <span>LucSedirae on GitHub</span>
                </div>

                <div class="col-3 about-item">
                  <a href="https://twitter.com/jondeavers">
                    <img
                      src="/img/twitter-tile.svg"
                      alt="Twitter logo"
                      class="about-image"
                      id="twitter-btn"
                  /></a>
                  <br />
                  <span>@jondeavers on Twitter</span>
                </div>

                <div class="col-3 about-item">
                  <a href="https://www.linkedin.com/in/jondeavers/"
                    ><img
                      src="/img/linkedin-tile.svg"
                      alt="LinkedIn logo"
                      class="about-image"
                      id="linkedin-btn"
                  /></a>
                  <br />
                  <span>Jon Deavers on LinkedIn</span>
                </div>

                <div class="col-3 about-item">
                  <a href="mailto:jondeavers@gmail.com"
                    ><i class="fas fa-at fa-7x about-image"></i
                  ></a>
                  <br />
                  <span>Email jondeavers@gmail.com</span>
                </div>
              </div>
            </div>
          </div>

          <!-- * Close wrapper col -->
        </div>
        <!-- * Close wrapper row -->
      </div>
    </main>

    <%- include("../partials/index-body-cdn.ejs"); %>
  </body>
</html>
