<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head"); %>
  </head>

  <body class="container-fluid">
    <header>
      <!--! Removed header ejs insert to test sidebar.ejs as an alternative nav layout -->
    </header>

    <main>
      <!-- * Wrapper row -->
      <div class="row">
        <!--* Sidebar column -->
        <div class="col-2 col-1 fixed-top one" id="sidebar">
          <%- include('../partials/sidebar.ejs'); %>
        </div>

        <!-- * Main wrapper col -->
        <div class="col-9 offset-3 two">
          <!-- * Info panel row and col -->
          <div class="row">
            <div class="col info-panel-large container-fluid">
              <!-- * Row 1 -->
              <div class="row">
                <div class="col">
                  <h2>Portfolio</h2>
                  <hr />
                </div>
              </div>

              <!-- * Row 1 -->
              <div class="row">
                <!--* Card 1 -->
                <div class="col-3">
                  <div class="card" style="width: 18rem;">
                    <a href="https://neighbors-in-need.herokuapp.com/"
                      ><img
                        src="/img/portfolio/nin.PNG"
                        class="card-img-top"
                        alt="screenshot of neighbors in need app"
                    /></a>
                    <div class="card-body bg-secondary">
                      <h5>Neighbors in Need</h5>
                      <p class="card-text">
                        This app is designed to help those experiencing
                        homelessness find resources in their community. Service
                        providers are able to create an account and post events
                        or services publicly.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- * Card 2 -->
                <div class="col-3">
                  <div class="card" style="width: 18rem;">
                    <a href="https://lucsedirae.github.io/deep-cuts/"
                      ><img
                        src="/img/portfolio/pitch.PNG"
                        class="card-img-top"
                        alt="screenshot of pitch music app"
                    /></a>
                    <div class="card-body bg-secondary">
                      <h5>Pitch</h5>
                      <p class="card-text">
                        Pitch is an app that lets music enthusiasts track,
                        research, save listening notes, and find show dates for
                        their favorite artists. Hear a great song while out on
                        the town? Add the artist's name to your Pitch collection
                        and check out the rest of their catalog while learning more 
                        about them.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- * Card 3 -->
                <div class="col-3">
                  <div class="card" style="width: 18rem;">
                    <a href="https://openhousecrm.com"
                      ><img
                        src="/img/portfolio/openhouse.PNG"
                        class="card-img-top"
                        alt="screenshot of pitch music app"
                    /></a>
                    <div class="card-body bg-secondary">
                      <h5>Open House CRM</h5>
                      <p class="card-text">
                        Open House CRM is an open source customer relationship
                        management platform focused on real estate
                        professionals. It features a modular design allowing
                        other developers to tailor web applications to their
                        clients' needs.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- * Close row 1 -->
              </div>
              <!-- * Close info panel -->
            </div>
          </div>

          <footer>
            <%- include('../partials/footer'); %>
          </footer>
          <!-- * Close wrapper col -->
        </div>
        <!-- * Close wrapper row -->
      </div>
    </main>

    <%- include("../partials/index-body-cdn.ejs"); %>
  </body>
</html>
