<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head"); %>
  </head>

  <body class="container-fluid">
    <header>
      <!--! Removed header ejs insert to test sidebar.ejs as an alternative nav layout -->
    </header>

    <main>
      <!-- * Wrapper row -->
      <div class="row">
        <!--* Sidebar column -->
        <div class="col-2 col-1 fixed-top one" id="sidebar">
          <%- include('../partials/sidebar.ejs'); %>
        </div>

        <!-- * Main wrapper col -->
        <div class="col-9 offset-3 two">

          <!-- * Row 1 -->
          <div class="row">
          </div>

          <footer>
            <%- include('../partials/footer'); %>
          </footer>
          <!-- * Close wrapper col -->
        </div>
      <!-- * Close wrapper row -->
      </div>
    </main>

    <%- include("../partials/index-body-cdn.ejs"); %>
  </body>
</html>