<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head"); %>
  </head>

  <body class="container-fluid">
    <header>
      <!--! Removed header ejs insert to test sidebar.ejs as an alternative nav layout -->
    </header>

    <main>
      <!-- * Wrapper row -->
      <div class="row">
        <!--* Sidebar column -->
          <%- include('../partials/sidebar.ejs'); %>
        </div>

        <!-- * Main wrapper col -->
        <div class="col-9 offset-3 two">
          <!-- * Row 1 -->
          <div class="row">
            <div class="col">
              <div class="info-panel-large">
                <!-- * Article 1 -->
                <div class="row">
                  <div class="col">
                    <img
                      src="/img/devto-icon.svg"
                      class="words-image"
                      alt="Dev.to logo"/>
                    <a href="https://dev.to/lucsedirae/what-is-an-api-29h3"
                      class="words-link">
                      <h3>What is an API?</h3></a>
                    <p>
                      API stands for "application programming interface". APIs
                      allow one application to "talk-to" another, allowing for
                      the transfer of stored data or instructions. API's are
                      everywhere in your daily life; from the embedded YouTube
                      videos on social media...
                    </p>
                    <hr />
                  </div>
                </div>
                <!-- * Article 2 -->
                <div class="row">
                  <div class="col">
                    <img
                      src="/img/devto-icon.svg"
                      class="words-image"
                      alt="Dev.to logo"/>
                    <a href="https://dev.to/lucsedirae/experimenting-with-bootstrap-alternatives-3nkm"
                      class="words-link">
                      <h3>Experimenting with Bootstrap alternatives</h3></a>
                    <p>
                      Currently I am half-way through a 6-month full-stack web development boot camp. Since day one we've been using Bootstrap as an HTML framework. I am not ashamed to admit, I've been in love with it ever since. It makes my "this had to...
                    </p>
                    <hr />
                  </div>
                </div>
                <!-- * Article 3 -->
                <div class="row">
                  <div class="col">
                    <img
                      src="/img/devto-icon.svg"
                      class="words-image"
                      alt="Dev.to logo"/>
                    <a href="https://dev.to/lucsedirae/intro-to-chrome-dev-tools-part-1-8ab"
                      class="words-link">
                      <h3>Intro to Chrome dev tools part 1</h3></a>
                    <p>
                      Merriam-Webster defines the term "whip-lash" as "injury resulting from a sudden sharp whipping movement of the neck and head." That's how I feel on a regular basis while working my way through a full-stack web development bootcamp. As...
                    </p>
                    <hr />
                  </div>
                </div>
                <!-- * Article 3 -->
                <div class="row">
                  <div class="col">
                    <img
                      src="/img/devto-icon.svg"
                      class="words-image"
                      alt="Dev.to logo"/>
                    <a href="https://dev.to/lucsedirae/things-i-learned-working-in-a-group-2abo"
                      class="words-link">
                      <h3>Important things I learned working in a group</h3></a>
                    <p>
                      I'm currently a student in a full-stack web development boot camp. We are just about to turn in our first group project and I learned a lot during this process. I learned some handy tricks in JavaScript and CSS, but more importantly, the...
                    </p>
                    <hr />
                  </div>
                <!-- * Article 3 -->
                <div class="row">
                  <div class="col">
                    <img
                      src="/img/devto-icon.svg"
                      class="words-image"
                      alt="Dev.to logo"/>
                    <a href="https://dev.to/lucsedirae/keeping-a-portfolio-page-current-while-learning-1bcn"
                      class="words-link">
                      <h3>Keeping a portfolio page current while learning</h3></a>
                    <p>
                      As a new developer, still deeply in the learning process, there are so many interesting tools introduced each day. I am currently enrolled in a bootcamp and loving it. Sometimes the curriculum is like trying to drink water from a fire hose...
                    </p>
                    <hr />
                  </div>
                </div>
                <!-- * Article 3 -->
                <div class="row">
                  <div class="col">
                    <img
                      src="/img/devto-icon.svg"
                      class="words-image"
                      alt="Dev.to logo"/>
                    <a href="https://dev.to/lucsedirae/overthinking-web-development-as-a-beginner-jp0"
                      class="words-link">
                      <h3>Overthinking web development as a beginner</h3></a>
                    <p>
                      I recently started a full-stack web development boot camp at a local university. After months of poking around YouTube and Google with little-to-no direction and a total lack of foundational understanding, I decided it was time for some...                    </p>
                    <hr />
                  </div>
                </div>                
                <!-- * Closes out info-panel-large wrappers -->
              </div>
            </div>
          </div>

          <!-- * Close wrapper col -->
        </div>
        <!-- * Close wrapper row -->
      </div>
    </main>

    <%- include("../partials/index-body-cdn.ejs"); %>
  </body>
</html>